.mat-toolbar {
    top: 0px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgba(221, 221, 221, 0.651);
    border-left: 5px solid rgb(61, 150, 223);
    border-bottom: 1px solid #cacaca;
}

.mat-toolbar h2 {
    font-weight: bold;
    padding: 20px;
    width: 100%;
}

.form {
    margin: 15px;
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: stretch space-evenly;
    align-items: stretch;
    max-width: 100%;
    margin-bottom: 30px;
}

.form .flexInput {
    display: flex;
}

.form .mat-form-field {
    width: 100%;
}

.submit {
  background-color: rgb(61, 150, 223);
  color: #fff;
  font-weight: bold;
}
