<mat-toolbar *ngIf = "form">
  <h2 *ngIf = "!edit">Cadastrar plano</h2>
  <h2 *ngIf = "edit">Editar plano</h2>
  <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content class="container">
<mat-tab-group [selectedIndex]="selectedIndex">
  <mat-tab label="Geral">
    <form class="form" [formGroup]="form">
      <mat-form-field>
        <input  matInput max-length="200"
                placeholder = "Nome (o que?)"
                floatLabel = "always"
                formControlName = "name" />
        <mat-error *ngIf = "form.get('name').touched && form.get('name').hasError">Insira o nome do plano</mat-error>
      </mat-form-field>
      <div class = "planner-type">
        <mat-form-field>
        <mat-select placeholder = "Tipo do plano"
                    floatLabel = "always"
                    formControlName = "type">
          <mat-option *ngFor = "let type of typesService.types$ | async"
                      [value]="type.type">
            {{type.type}}
          </mat-option>
         </mat-select>
         <mat-error *ngIf = "form.get('type').touched && form.get('type').hasError">Informe o tipo de plano</mat-error>
        </mat-form-field>
        <button mat-icon-button type="button" (click)="openModal('type')">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <mat-form-field>
        <input  matInput  placeholder = "Responsável (quem?)"
                          floatLabel = "always"
                          formControlName = "charge"/>
          <mat-error>Informe o responsável do plano</mat-error>
      </mat-form-field>
      <div class="planner-date">
        <mat-form-field>
          <input matInput [(ngModel)] = "minDate"
                          placeholder = "Início"
                          [matDatepicker] ="pickerStart"
                          floatLabel = "always"
                          formControlName = "start" />
          <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
          <mat-datepicker #pickerStart></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input  matInput  [min] = "minDate"
                            placeholder = "Fim"
                            [matDatepicker] ="pickerEnd"
                            floatLabel = "always"
                            formControlName = "end" />
          <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
          <mat-datepicker #pickerEnd></mat-datepicker>
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-select placeholder = "Pertence ao plano"
                    floatLabel = "always"
                    formControlName = "belongsTo">
          <mat-option value="none">Nenhum
          </mat-option>
          {{teste}}
          <mat-option *ngFor = "let planner of plannersService.planners" [value]="planner.name">
            {{planner.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-tab>
  <mat-tab label="Detalhes">
    <form class="form" [formGroup] = "form" (ngSubmit)="onSubmit()">
      <div formGroupName = details>
        <mat-form-field>
        <textarea matInput placeholder="Descrição"
                  max-length = "1000"
                  formControlName = "description">
        </textarea>
        <mat-error *ngIf = "form.get('details.description').touched && form.get('details.description').hasError">Descreva o plano</mat-error>
      </mat-form-field>
      <div class="planner-involveds">
        <mat-form-field>
          <mat-select placeholder="Pessoas interessadas"
                      formControlName = "involveds"
                      multiple>
            <mat-option *ngFor="let involved of involvedsService.involveds$ | async" [value]="involved.involved">
              {{involved.involved}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf = "form.get('details.involveds').touched && form.get('details.involveds').hasError">Selecione pelo menos um envolvido.</mat-error>
        </mat-form-field>
        <button mat-icon-button type="button" (click)="openModal('involved')">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <mat-form-field>
        <span matPrefix>R$</span>
        <input matInput placeholder=" Custo estimado"
                        formControlName = "price"/>
          <mat-error *ngIf = "form.get('details.price').touched && form.get('details.price').hasError">Informe o capital necessário</mat-error>
      </mat-form-field>
      </div>
      <button class="submit" mat-raised-button type="submit">Enviar</button>
    </form>
  </mat-tab>
</mat-tab-group>
</mat-dialog-content>
