<mat-card class="card-title">
  <mat-icon class="dashboard">dashboard</mat-icon>
  <h2>Dashboard</h2>
</mat-card>

<div class = "dashboard-list">
  <mat-card>
    <mat-card-title>
      <mat-icon>list_alt</mat-icon>
      Todos meus planos
    </mat-card-title>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>
      <mat-icon>bar_chart</mat-icon>
      Quantidade de planos
    </mat-card-title>
    <mat-card-content></mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      <mat-icon>check</mat-icon>
      Planos concluídos
    </mat-card-title>
    <mat-card-content>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      <a mat-fab><mat-icon >close</mat-icon></a>
      
      Planos cancelados
    </mat-card-title>
    <mat-card-content>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      Planos em andamento
    </mat-card-title>
    <mat-card-content>

    </mat-card-content>
  </mat-card>

</div>