<div class="container">
  <mat-card class="card-title">
    <mat-icon class="dashboard">dashboard</mat-icon>
    <h2>Dashboard</h2>
  </mat-card>

  <div class = "dashboard-list">
    <div class="flex">
      <mat-card class="all-planners">
        <mat-card-title>
          <a mat-mini-fab><mat-icon>bar_chart</mat-icon></a>
          <h2 class="title">Total de planos</h2>
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <b>{{totalPlanners}}</b> planos totais.
        </mat-card-content>
      </mat-card>
      <mat-card class="ongoing-planners">
        <mat-card-title>
            <a mat-mini-fab><mat-icon>play_arrow</mat-icon></a>
            <h2 class="title">Planos em andamento</h2>
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <b>{{totalOnProcess}}</b> planos em andamento.
        </mat-card-content>
      </mat-card>
    </div>

    <div class="flex">
      <mat-card class="finished-planners">
        <mat-card-title>
          <a mat-mini-fab><mat-icon>check</mat-icon></a>
          <h2 class="title">Planos concluídos</h2>
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <b>{{totalFinished}}</b> planos concluídos.
        </mat-card-content>
      </mat-card>
      <mat-card class="canceled-planners">
        <mat-card-title>
          <a mat-mini-fab><mat-icon >close</mat-icon></a>
          <h2 class="title">Planos cancelados</h2>
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <b>{{totalCanceled}}</b> planos cancelados.
        </mat-card-content>
      </mat-card>
    </div>

    <div class="flex">
      <mat-card class="noData-planners">
        <mat-card-title>
          <a mat-mini-fab><mat-icon>check</mat-icon></a>
          <h2 class="title">Planos sem prazo</h2>
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <b>{{totalNoData}}</b> planos sem prazo.
        </mat-card-content>
      </mat-card>
      <mat-card class="suspended-planners">
        <mat-card-title>
          <a mat-mini-fab><mat-icon>pause</mat-icon></a>
          <h2 class="title">Planos Suspendidos</h2>
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <b>{{totalSuspended}}</b> planos suspendidos.
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
