.full-sidenav {
    height: 100%;
}

.mat-sidenav{
    min-height: 100%;
    overflow: hidden;
    width: 200px;
}

.mat-toolbar {
    background-color: rgb(20, 93, 167);
    color: #fff;
    margin: 0;
    padding: 5px 0px;
    flex-direction: row;
    display: flex;
    place-content: center flex-start;
    align-items: center;

}

.qualiex {
    width: 100px;
    height: 35px;
    margin: 0px 10px;
}

.mat-toolbar h5 {
    border-left: 5px solid #4fa7ff;
    font-size: 15pt;
    flex: auto;
    height: 100%;
    padding-top: 20px;
    padding-left: 10px;
    margin: 3px 0px 3px 20px;
}

.mat-toolbar h2 {
  margin: 0px 20px;
}

.mat-list-base {
    padding: 0px;
}

.mat-sidenav-content {
    background-color: #c8c8c879;;
    min-height: 100vh;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.app-planner .ng-star-inserted {
    position: absolute !important;
    top: 0px !important;
}

.user-nav {
    display: flex;
    flex-direction: row-reverse;
    place-content: center;
    align-items: center;
    margin: 0px 10px;
}

.user-nav img {
    margin-left: 10px;
}

.user-info {
    display: block;
    line-height: 8px;
}

.user-info mat-card-title {
    font-size: 13pt;
    margin: 0px;
}

.user-info mat-card-subtitle {
    margin: 0;
    color: rgba(221, 221, 221, 0.801);
    float: right;
}

.menu-links .mat-list-item {
    cursor: pointer;
}

.mat-list-item:hover {
    background-color: #b1b1ff4f;
    font-weight: 500;
    transition: 0.2s;
}

.mat-drawer-inner-container {
    overflow: hidden;
}
