<div class = "full-sidenav">
  <mat-toolbar>
    <button  mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img class="qualiex" src='../assets/qualiex_branco.png'>
    <h5>Planner</h5>
    <div class="user-nav">
      <img mat-card-avatar
        src="../assets/user.png" />
      <div class="user-info">
        <mat-card-title>Usuário Forlogic</mat-card-title><br>
        <mat-card-subtitle>Unidade</mat-card-subtitle>
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav  #sidenav 
                  mode="side" 
                  [opened]="opened"
                  fixedTopGap = '65'
                  fixedTopGap= '0'>
      <mat-list class="menu-links">
        <mat-list-item [routerLink]="(['dashboard'])">Visão Geral</mat-list-item>
        <mat-list-item [routerLink]="([''])">Planos</mat-list-item>
      </mat-list>
    </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>
