.planner-list {
    background-color: #fff;
}

.card-title { 
    width: 900px;
    height: 70px;
    margin: 10px 0px;
    box-shadow: 2px 2px 3px rgb(0, 0, 0, .2);
    border-left: 5px solid rgb(61, 150, 223);
}

.card-title h2 {
    margin: 20px 0px 20px 40px;
    color: #575757;
}

.planner1 {
    border-left: 5px solid #ff2b2b;
    margin:5px 0px;
}

.planner2 {
    border-left: 5px solid #00bf00;
    margin:5px 0px;
}

.planner3 {
    border-left: 5px solid #ffff17;
    margin:5px 0px;
}


mat-panel-title mat-card-title{
    font-size: 13pt;
    position: relative;
}

mat-panel-title at-card-subtitle{
    font-size: 10pt;
}

mat-panel-title {
    font-weight: bold;
}
