.mat-toolbar {
    top: 0px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgba(221, 221, 221, 0.651);
    border-bottom: 5px solid rgb(61, 150, 223);
}

.mat-toolbar h1 {
    font-weight: bold;
    padding: 20px;
    width: 100%;
}

.planner-info {
    padding: 10px;
    line-height: 25px;
}